.git
.env
.DS_Store
airflow_settings.yaml
__pycache__/
.venv
.astro/standalone/
airflow-webserver.pid
webserver_config.py
airflow.cfg
airflow.db
.astro/*.local.yml
.astro/*.local.yaml
*/infra/.terraform/*
*/infra/.terraform.lock.hcl
*/infra/.terraform.tfstate.lock.info
*/infra/terraform.tfstate
*/infra/terraform.tfstate.backup
*/infra/tfplan
*/k8s/*
*/airflow/*
*/astro-project/*
.claude/settings.local.json
*/infra/terraform.tfvars
!*/infra/terraform.tfvars.example
*.tfvars
*.tfstate*
