.terraform
.terraform.lock.hcl
.terraform.tfstate.lock.info
terraform.tfstate
terraform.tfstate.backup
tfplan
terraform.tfvars
!terraform.tfvars.example
*.tfvars
*.tfstate*
backend.hcl
!backend.hcl.example
